body {
  background: #b38b6d;
  font-family: Avenir;
}

.clearfix {
  clear: both;
}


#board {
  margin-top: : 10px;

}

.box {
  border: 1px solid black;
  height: 150px;
}

#message {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

#reset {
  padding: 15px;
  background: #444;
  color:#fff;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
